.App{
    width: 500px;
    margin : 0 auto;
    display: flex; 
    /* flex 라는 속성은 app이라는 className을 갖는 요소 밑에 있는 
       헤더나 에디터 리스트 같은 자식요소들의 배치를 좀 더 자유롭게 도와주는 속성 */
    flex-direction: column;
    /* 열기준으로 배치가 들어감 */
    gap : 10px;
    /* gap은 display가 flex로 설정된 요소에만 적용할 수 있음 */

    }